<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Hola dime a queien quieres saludar </h1>
    <form  action="/nuevo" method="post">
      <input type="text" name="verbo"> </input>
      <input type="submit"  value="submit">      
    </form>
  </body>
</html>
